{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TAS Corp.{% endblock %}

{% block head %}
{{ super() }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="ck/static/chartkick.js"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Ship Demographics</h1>

    {% bar_chart data with library={"title":"Ship List", "width":"100px"} %}
</div>
{% endblock %}
