{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TAS Corp.{% endblock %}

{% block head %}
{{ super() }}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="ck/static/chartkick.js"></script>
{% if current_user.handle is none %}
<script type="text/javascript">
    $(window).load(function(){
        $('#newUser').modal('show');
    });
</script>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated() %}
            <div class="modal fade" id="newUser">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Welcome!</h4>
                </div>
                <div class="modal-body">
                <p>If this is your first time logging in or you haven't added a handle
                    yet, you must set a handle to identify yourself to others.<br><br>
                    Also decide if you want your email to be viewable to other users (not the public).
                </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="{{ url_for('user.edit_profile') }}"><button type="button" class="btn btn-primary">Update Profile</button></a>
                </div>
                </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
    {% endif %}


    <h1>Ship Demographics</h1>

    {% bar_chart data with library={"title":"Ship List", "width":"100px"} %}
</div>
{% endblock %}
