{% extends "base.html" %}
{% block content %}

<form method="POST" action="." role="form">
    <div class="form-group">
        <label>{{ form.email.label }}</label>
        {{ form.email(class="form-control", placeholder="Your Email Address") }}
    </div>
    <div class="form-group">
        <label>{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder="Your Password") }}
    </div>

    <p><input id="login" name="login" type="submit" class="btn btn-default" value="login"></p>
</form>
{% endblock %}